.image-menu-buracodasararas {
  width: 100%;
  height: 500px;
}

/* Cards Main */

.section__lm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Card história */

.card-historia {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-right: 20px;
}

.card-historia h2 {
  padding-bottom: 20px;
}

.card-historia .paragrafo-historia {
  margin-bottom: 20px;
  color: var(--cor-fonte); /*Cor da fonte*/
}

/* Card informação */

.card-informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-fonte);
  border-radius: 15px;
  width: 18%;
  height: auto;
  padding: 20px;
}

.card-informacao h1 {
  padding-bottom: 10px;
}

.card-informacao img {
  padding: 5px 0 5px 0;
  width: 100%;
}

.card-informacao .info {
  padding-top: 10px;
}

.card-informacao ul li {
  list-style: none;
  padding-bottom: 5px;
  color: var(--cor-fonte);
}

.card-informacao .button {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: var(--cor-fonte);
  border-radius: 10px;
  color: #fff;
}

@media (max-width: 498px) {
  .container__jardim {
    width: 70%;
  }

  .section__lm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-historia {
    padding: 0;
    margin: 0;
    width: 300px;
  }

  .card-informacao h1 {
    font-size: 20px;
    margin: 10px 0 5px 0;
  }

  .card-informacao {
    width: 300px;
  }

  .card-informacao iframe {
    width: 250px;
    height: 130px;
  }

  .info {
    width: 250px;
  }

  .card-informacao .button {
    margin: 5px 0 10px 0;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: var(--cor-fonte);
    border-radius: 10px;
    color: #fff;
  }

  .slider {
    width: 75%;
    height: 400px;
  }

  .carrosel-image {
    width: 80%;
  }

  .slide-images {
    display: flex;
    justify-content: center;
  }
}
