body {
  background: #f0f0f0;
}

/* Image da navbar*/
.image-menu-lagoamisteriosa {
  width: 100%;
  height: 500px;
}

/* Cards Main */

.section__lm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Card história */

.card-historia {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-right: 20px;
}

.card-historia h2 {
  padding-bottom: 20px;
}

.card-historia .paragrafo-historia {
  margin-bottom: 20px;
  color: var(--cor-fonte); /*Cor da fonte*/
}

/* Card informação */

.card-informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor-fonte);
  border-radius: 15px;
  width: 18%;
  height: auto;
  padding: 0 20px 0 20px;
}

.card-informacao h1 {
  padding-bottom: 5px;
}

.card-informacao img {
  padding: 5px 0 5px 0;
  width: 100%;
}

.card-informacao .info {
  padding-top: 10px;
}

.card-informacao ul li {
  list-style: none;
  padding-bottom: 5px;
  color: var(--cor-fonte);
}

.card-informacao .button {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: var(--cor-fonte);
  border-radius: 10px;
  color: #fff;
}

/* Carrossel de imagens */

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #2a06ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}
