:root {
  /* CORES */
  --cor-primaria: #8da34e;
  --cor-secundaria: #fff;
  --cor-tercearia: #000;
  --cor-quarta: #bdce77;
  --cor-quinta: #a2b07a;
  --cor-fonte: #818181;

  /* Font */
  --font-primaria: "DM Sans", sans-serif;
}
